<header class="site-header">
  <nav class="menu-list">
    {% assign menu_size = site.data.settings.menu.size | minus: 1 %}
    {% assign half_size = menu_size | divided_by: 2 %}
    {% for item in site.data.settings.menu limit: half_size %}
      <a href="{{ site.github.url }}/{{ item.url }}" class="menu-link">{{ item.name }}</a>
    {% endfor %}
  </nav>
  <h3 class="site-title" style="text-align: center; display: inline-block; width: 100%;">
    <a href="{{ site.github.url }}/">{{ site.title }}</a>
  </h3>
  <nav class="menu-list">
    {% for item in site.data.settings.menu offset: half_size %}
      <a href="{{ site.github.url }}/{{ item.url }}" class="menu-link">{{ item.name }}</a>
    {% endfor %}
  </nav>
  <div style="clear: both;"></div>
</header>
